In [2]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import matplotlib.cm as cm
from glob import glob

Buildings with ages and height

In [32]:
!ls /data/uscuni-evolution/

germany_ages  germany_ages_heights  germany_heigths  historical_footprints_osm

In [9]:
files_age = glob(f"/data/uscuni-evolution/germany_ages/DE*.csv")
files_age

['/data/uscuni-evolution/germany_ages/DEA.csv',
 '/data/uscuni-evolution/germany_ages/DE9.csv',
 '/data/uscuni-evolution/germany_ages/DE7.csv',
 '/data/uscuni-evolution/germany_ages/DE2.csv',
 '/data/uscuni-evolution/germany_ages/DE8.csv',
 '/data/uscuni-evolution/germany_ages/DE6.csv',
 '/data/uscuni-evolution/germany_ages/DEF.csv',
 '/data/uscuni-evolution/germany_ages/DEG.csv',
 '/data/uscuni-evolution/germany_ages/DED.csv',
 '/data/uscuni-evolution/germany_ages/DE1.csv',
 '/data/uscuni-evolution/germany_ages/DEB.csv',
 '/data/uscuni-evolution/germany_ages/DEC.csv',
 '/data/uscuni-evolution/germany_ages/DE3.csv',
 '/data/uscuni-evolution/germany_ages/DE4.csv',
 '/data/uscuni-evolution/germany_ages/DE5.csv',
 '/data/uscuni-evolution/germany_ages/DEE.csv']

In [10]:
ages = []
for f in files_age:
    table = pd.read_csv(f)
    ages.append(table)
buildings = pd.concat(ages)
buildings

,id,position,construction_year,size_class,refurbishment_state,tabula_type
0,DEA_DENW14AL0000mH1V,POINT(4212457.9904114995 3189092.4863404115),"{""value"": 1976, ""source"": ""v4_model.json"", ""li...","{""value"": ""SFH"", ""source"": ""v4_model.json"", ""l...","{""value"": ""1"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.06.Gen.ReEx.001.001"", ""sou..."
1,DEA_DENW14AL0000mHea,POINT(4212496.415440372 3187585.4835335244),"{""value"": 1958, ""source"": ""census_2011_buildin...","{""value"": ""SFH"", ""source"": ""census_2011_buildi...","{""value"": ""2"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.05.Gen.ReEx.001.002"", ""sou..."
2,DEA_DENW15AL10002mM4,POINT(4229108.546602728 3222230.2340330947),"{""value"": 1996, ""source"": ""v4_model.json"", ""li...","{""value"": ""SFH"", ""source"": ""census_2011_buildi...","{""value"": ""2"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.09.Gen.ReEx.001.002"", ""sou..."
3,DEA_DENW15AL1000K1nf,POINT(4237001.388663602 3232318.445619957),"{""value"": 1951, ""source"": ""census_2011_buildin...","{""value"": ""SFH"", ""source"": ""census_2011_buildi...","{""value"": ""2"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.04.Gen.ReEx.001.002"", ""sou..."
4,DEA_DENW16AL0000edrU,POINT(4278442.259278367 3177638.671389192),"{""value"": 1975, ""source"": ""census_2011_buildin...","{""value"": ""SFH"", ""source"": ""census_2011_buildi...","{""value"": ""2"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.06.Gen.ReEx.001.002"", ""sou..."
...,...,...,...,...,...,...
813656,DEE_DEST_DESTLIKA0004Fpj9,POINT(4393586.761640169 3244639.839419589),"{""value"": 1862, ""source"": ""v4_model.json"", ""li...","{""value"": ""SFH"", ""source"": ""v4_model.json"", ""l...","{""value"": ""2"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.02.Gen.ReEx.001.002"", ""sou..."
813657,DEE_DEST_DESTLIKA0004GjIx,POINT(4372805.833404248 3205414.8172466587),"{""value"": 1942, ""source"": ""v4_model.json"", ""li...","{""value"": ""SFH"", ""source"": ""census_2011_buildi...","{""value"": ""2"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.03.Gen.ReEx.001.002"", ""sou..."
813658,DEE_DEST_DESTLIKA0004GRZ5,POINT(4378460.082326205 3207834.226237416),"{""value"": 1877, ""source"": ""v4_model.json"", ""li...","{""value"": ""SFH"", ""source"": ""v4_model.json"", ""l...","{""value"": ""2"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.02.Gen.ReEx.001.002"", ""sou..."
813659,DEE_DEST_DESTLIKA0004rDCJ,POINT(4401725.326838767 3180674.1615178115),"{""value"": 1949, ""source"": ""v4_model.json"", ""li...","{""value"": ""SFH"", ""source"": ""census_2011_buildi...","{""value"": ""2"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.04.Gen.ReEx.001.002"", ""sou..."
813660,DEE_DEST_DESTLIKA0005XhG6,POINT(4429297.471271686 3296296.5662222016),"{""value"": 1963, ""source"": ""v4_model.json"", ""li...","{""value"": ""SFH"", ""source"": ""v4_model.json"", ""l...","{""value"": ""2"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.05.Gen.ReEx.001.002"", ""sou..."

In [11]:
buildings['year'] = buildings['construction_year'].apply(lambda x: int(x[10:14]))
buildings

,id,position,construction_year,size_class,refurbishment_state,tabula_type,year
0,DEA_DENW14AL0000mH1V,POINT(4212457.9904114995 3189092.4863404115),"{""value"": 1976, ""source"": ""v4_model.json"", ""li...","{""value"": ""SFH"", ""source"": ""v4_model.json"", ""l...","{""value"": ""1"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.06.Gen.ReEx.001.001"", ""sou...",1976
1,DEA_DENW14AL0000mHea,POINT(4212496.415440372 3187585.4835335244),"{""value"": 1958, ""source"": ""census_2011_buildin...","{""value"": ""SFH"", ""source"": ""census_2011_buildi...","{""value"": ""2"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.05.Gen.ReEx.001.002"", ""sou...",1958
2,DEA_DENW15AL10002mM4,POINT(4229108.546602728 3222230.2340330947),"{""value"": 1996, ""source"": ""v4_model.json"", ""li...","{""value"": ""SFH"", ""source"": ""census_2011_buildi...","{""value"": ""2"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.09.Gen.ReEx.001.002"", ""sou...",1996
3,DEA_DENW15AL1000K1nf,POINT(4237001.388663602 3232318.445619957),"{""value"": 1951, ""source"": ""census_2011_buildin...","{""value"": ""SFH"", ""source"": ""census_2011_buildi...","{""value"": ""2"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.04.Gen.ReEx.001.002"", ""sou...",1951
4,DEA_DENW16AL0000edrU,POINT(4278442.259278367 3177638.671389192),"{""value"": 1975, ""source"": ""census_2011_buildin...","{""value"": ""SFH"", ""source"": ""census_2011_buildi...","{""value"": ""2"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.06.Gen.ReEx.001.002"", ""sou...",1975
...,...,...,...,...,...,...,...
813656,DEE_DEST_DESTLIKA0004Fpj9,POINT(4393586.761640169 3244639.839419589),"{""value"": 1862, ""source"": ""v4_model.json"", ""li...","{""value"": ""SFH"", ""source"": ""v4_model.json"", ""l...","{""value"": ""2"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.02.Gen.ReEx.001.002"", ""sou...",1862
813657,DEE_DEST_DESTLIKA0004GjIx,POINT(4372805.833404248 3205414.8172466587),"{""value"": 1942, ""source"": ""v4_model.json"", ""li...","{""value"": ""SFH"", ""source"": ""census_2011_buildi...","{""value"": ""2"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.03.Gen.ReEx.001.002"", ""sou...",1942
813658,DEE_DEST_DESTLIKA0004GRZ5,POINT(4378460.082326205 3207834.226237416),"{""value"": 1877, ""source"": ""v4_model.json"", ""li...","{""value"": ""SFH"", ""source"": ""v4_model.json"", ""l...","{""value"": ""2"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.02.Gen.ReEx.001.002"", ""sou...",1877
813659,DEE_DEST_DESTLIKA0004rDCJ,POINT(4401725.326838767 3180674.1615178115),"{""value"": 1949, ""source"": ""v4_model.json"", ""li...","{""value"": ""SFH"", ""source"": ""census_2011_buildi...","{""value"": ""2"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.04.Gen.ReEx.001.002"", ""sou...",1949
813660,DEE_DEST_DESTLIKA0005XhG6,POINT(4429297.471271686 3296296.5662222016),"{""value"": 1963, ""source"": ""v4_model.json"", ""li...","{""value"": ""SFH"", ""source"": ""v4_model.json"", ""l...","{""value"": ""2"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.05.Gen.ReEx.001.002"", ""sou...",1963

In [13]:
geoms = gpd.GeoSeries.from_wkt(buildings.position, crs=3035)
gdf = gpd.GeoDataFrame(buildings[['year']], geometry=geoms)
gdf

        year                         geometry
0       1976   POINT (4212457.99 3189092.486)
1       1958  POINT (4212496.415 3187585.484)
2       1996  POINT (4229108.547 3222230.234)
3       1951  POINT (4237001.389 3232318.446)
4       1975  POINT (4278442.259 3177638.671)
...      ...                              ...
813656  1862  POINT (4393586.762 3244639.839)
813657  1942  POINT (4372805.833 3205414.817)
813658  1877  POINT (4378460.082 3207834.226)
813659  1949  POINT (4401725.327 3180674.162)
813660  1963  POINT (4429297.471 3296296.566)

[19420827 rows x 2 columns]

Morphotopes.

In [16]:
files_morph = glob(f"/data/uscuni-ulce/data_product/de*_morphotopes.parquet")
morphotopes_list = []
for f in files_morph:
    data = gpd.read_parquet(f)
    morphotopes_list.append(data)
morphotopes = pd.concat(morphotopes_list).set_index("morphotope_id")
morphotopes

,geometry,initially_noise,level_1_label,level_2_label,level_3_label,level_4_label,level_5_label,level_6_label,level_7_label
morphotope_id,,,,,,,,,
21904_1450_-1474,"MULTIPOLYGON (((4324696.741 3047574.552, 43246...",True,1,2,4,6,9,19,38
21904_1448_1,"MULTIPOLYGON (((4324315.825 3046254.826, 43243...",False,1,2,5,8,13,27,55
21904_1448_0,"MULTIPOLYGON (((4324277.274 3046327.723, 43242...",False,1,2,5,8,13,27,55
21904_1451_-1475,"MULTIPOLYGON (((4325456.491 3047509.468, 43254...",True,1,2,4,6,9,18,36
21904_1449_-1473,"MULTIPOLYGON (((4325235.589 3047568.722, 43252...",True,1,2,4,6,9,19,38
...,...,...,...,...,...,...,...,...,...
26468_1167_-2932,"MULTIPOLYGON (((4329335.496 2729046.791, 43293...",True,1,2,4,6,9,18,36
26468_2870_-2959,"MULTIPOLYGON (((4329118.616 2729464.301, 43291...",True,1,2,4,5,8,17,34
26468_1167_9,"MULTIPOLYGON (((4329198.789 2728648.948, 43291...",False,2,4,7,15,22,53,99
26468_1167_8,"MULTIPOLYGON (((4328388.687 2728213.01, 432838...",False,1,2,4,6,10,21,43
26468_2864_-2953,"MULTIPOLYGON (((4329468.087 2728522.837, 43294...",True,1,2,4,6,9,18,36

Join buidings to morphtopes

In [19]:
morphotopes=morphotopes[morphotopes["initially_noise"]==False]

In [20]:
joined_morphotopes = gdf.sjoin(morphotopes[["geometry"]], predicate="within")
joined_morphotopes

        year                         geometry morphotope_id
0       1976   POINT (4212457.99 3189092.486)      4_514_13
1       1958  POINT (4212496.415 3187585.484)       4_514_2
2       1996  POINT (4229108.547 3222230.234)    4_847_2568
3       1951  POINT (4237001.389 3232318.446)     4_847_521
4       1975  POINT (4278442.259 3177638.671)   19254_367_2
...      ...                              ...           ...
813656  1862  POINT (4393586.762 3244639.839)    35246_58_3
813657  1942  POINT (4372805.833 3205414.817)    32793_81_0
813658  1877  POINT (4378460.082 3207834.226)    32793_79_1
813659  1949  POINT (4401725.327 3180674.162)   35679_90_12
813660  1963  POINT (4429297.471 3296296.566)   43495_163_0

[17953300 rows x 3 columns]

Group buildings per morp

In [21]:
bins = (0,1919,1948,1978,1986,1990,1995,2000,2004,2008,2030)
def mode_bin(x):
    binned = pd.cut(x, bins=bins, right=True)
    m = binned.mode()
    return m.iloc[0] if not m.empty else None

In [22]:
grouped = joined_morphotopes.groupby("morphotope_id")

In [23]:
grouped_stats = grouped.agg(
    num_buildings=('year', 'count'),  # <-- total number of buildings (rows)

    year_mean=('year', 'mean'),
    year_median=('year', 'median'),
    year_min=('year', 'min'),
    year_q10=('year', lambda x: x.quantile(0.1)),
    year_q90=('year', lambda x: x.quantile(0.9)),
    year_max=('year', 'max'),
    year_std=('year', 'std'),
    year_mode=('year', mode_bin)
).round(2)
grouped_stats

,num_buildings,year_mean,year_median,year_min,year_q10,year_q90,year_max,year_std,year_mode
morphotope_id,,,,,,,,,
10019_0_0,27,1966.26,1967.0,1950,1956.6,1977.4,1979,8.13,"(1948, 1978]"
10019_0_1,78,1963.10,1963.0,1949,1953.0,1973.0,1978,7.69,"(1948, 1978]"
10019_0_10,31,1961.06,1963.0,1925,1948.0,1975.0,1990,14.46,"(1948, 1978]"
10019_0_11,64,1965.61,1968.0,1949,1953.3,1975.0,1978,8.20,"(1948, 1978]"
10019_0_12,29,1960.45,1959.0,1949,1950.0,1973.6,1978,8.81,"(1948, 1978]"
...,...,...,...,...,...,...,...,...,...
9972_9_5,45,1963.87,1965.0,1949,1954.0,1973.6,1978,8.37,"(1948, 1978]"
9972_9_6,60,1966.35,1969.0,1949,1952.0,1978.0,1978,9.21,"(1948, 1978]"
9972_9_7,67,1962.70,1962.0,1949,1950.0,1975.0,1978,9.10,"(1948, 1978]"
9972_9_8,69,1973.55,1967.0,1950,1954.8,1999.2,2007,17.77,"(1948, 1978]"
9972_9_9,96,1984.25,2000.0,1882,1954.5,2007.5,2008,23.93,"(1948, 1978]"

In [24]:
morphotopes_age = morphotopes.join(grouped_stats, how='inner')
morphotopes_age

,geometry,initially_noise,level_1_label,level_2_label,level_3_label,level_4_label,level_5_label,level_6_label,level_7_label,num_buildings,year_mean,year_median,year_min,year_q10,year_q90,year_max,year_std,year_mode
morphotope_id,,,,,,,,,,,,,,,,,,
21904_1448_1,"MULTIPOLYGON (((4324315.825 3046254.826, 43243...",False,1,2,5,8,13,27,55,46,1957.83,1957.0,1868,1910.5,1999.0,2000,34.76,"(1948, 1978]"
21904_1448_0,"MULTIPOLYGON (((4324277.274 3046327.723, 43242...",False,1,2,5,8,13,27,55,43,1929.79,1936.0,1863,1881.4,1975.4,2000,38.55,"(0, 1919]"
29344_127_5,"MULTIPOLYGON (((4325504.81 3048061.995, 432550...",False,1,2,5,8,13,27,55,65,1911.40,1909.0,1860,1868.2,1960.6,1997,34.80,"(0, 1919]"
29344_127_4,"MULTIPOLYGON (((4325695.146 3048046.646, 43256...",False,2,4,7,13,20,47,86,65,1914.29,1902.0,1863,1879.8,1967.0,1998,34.26,"(0, 1919]"
29344_127_2,"MULTIPOLYGON (((4325571.721 3047890.038, 43255...",False,2,4,7,12,19,45,82,26,1949.81,1955.5,1886,1910.5,1969.5,1977,23.94,"(1948, 1978]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27053_210_1,"MULTIPOLYGON (((4330639.63 2774092.038, 433063...",False,2,4,7,15,22,50,93,44,1978.93,1970.5,1951,1953.0,2006.7,2008,20.89,"(1948, 1978]"
25202_27_0,"MULTIPOLYGON (((4329009.557 2738156.632, 43290...",False,1,2,5,8,13,27,55,6,1895.00,1885.0,1860,1862.0,1938.0,1966,39.97,"(0, 1919]"
18557_597_2,"MULTIPOLYGON (((4329532.524 2733302.757, 43295...",False,1,2,5,8,13,29,59,35,1952.23,1962.0,1871,1902.6,1971.6,1976,28.39,"(1948, 1978]"
26468_1167_9,"MULTIPOLYGON (((4329198.789 2728648.948, 43291...",False,2,4,7,15,22,53,99,23,1923.65,1949.0,1862,1871.2,1971.8,1977,41.93,"(1948, 1978]"
26468_1167_8,"MULTIPOLYGON (((4328388.687 2728213.01, 432838...",False,1,2,4,6,10,21,43,10,1946.40,1959.0,1867,1900.3,1967.2,1969,33.60,"(1948, 1978]"

In [25]:
morphotopes_age = morphotopes_age[
    (morphotopes_age['num_buildings'] != 0) &
    (morphotopes_age['initially_noise'] == False)
]

In [29]:
morphometrics = pd.read_parquet("/data/uscuni-ulce/data_product/morphotope_data.parquet")
morphometrics

,sdbAre,sdbPer,sdbCoA,ssbCCo,ssbSqu,ssbERI,ssbElo,libNCo,ldbPWL,ltcBuA,...,mibElo,mibERI,mibCCo,mibLAL,mibFR,mibSCo,micBAD,midBAD,limLPS,limAre
4_0_1,0.987137,1.433775,-0.003262,-1.949620,-0.424706,0.483494,-2.019151,-0.08234,0.208525,0.081287,...,-1.315770,0.462303,-0.613538,0.493512,1.521773,1.521773,3.654263,4.850005,0.149898,3.887056
4_0_10,0.999498,1.196410,-0.003262,-0.789406,-0.342916,0.486163,-1.535531,-0.08234,0.182541,-0.233554,...,-0.153381,0.395069,0.056334,0.486932,1.216988,1.216988,1.178967,1.099998,0.149898,0.893068
4_0_100,-0.137159,-0.163803,-0.003262,-0.466113,-0.366240,-0.856290,0.731951,-0.08234,-0.106013,-0.458441,...,-0.521085,-0.580478,-0.558703,-0.081649,-0.032863,-0.032863,-0.203994,-0.233173,0.149898,-0.317867
4_0_101,-0.459409,-0.503755,-0.003262,0.343387,-0.298401,0.174042,0.749521,-0.08234,0.061081,-1.357987,...,-0.639787,-1.158760,-1.204788,0.178917,0.258876,0.258876,-0.310458,-0.336999,0.149898,-0.233568
4_0_102,2.676117,2.777188,-0.003262,-3.146540,-0.373569,0.244430,-2.962140,-0.08234,0.327391,0.081287,...,-2.175354,0.401162,-1.384519,0.805433,1.585684,1.585684,0.688806,0.228241,0.149898,0.615805
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152511_809_0,0.378060,0.452225,-0.003262,0.986065,-0.155806,-0.260933,1.028036,-0.08234,-0.345792,1.340653,...,1.064571,0.742462,1.252631,-0.467798,-0.553549,-0.553549,-0.185301,-0.115341,0.149898,-0.399705
152511_8_0,0.288760,0.448556,-0.003262,-0.052106,-0.203213,0.491686,-0.223015,-0.08234,-0.356453,1.340653,...,0.193617,0.842279,0.855323,-0.447989,-0.568171,-0.568171,-0.077163,-0.033948,0.149898,-0.351100
152511_8_1,0.493941,0.612191,-0.003262,0.223337,-0.193634,-1.845646,0.758600,-0.08234,-0.345008,1.340653,...,0.903872,0.536746,0.971907,-0.478463,-0.501992,-0.501992,0.078303,-0.074908,0.149898,-0.265919
152511_8_2,0.603987,0.717053,-0.003262,0.284544,-0.195905,0.488063,-0.253222,-0.08234,-0.333686,1.340653,...,0.153683,0.840281,1.026858,-0.438514,-0.445666,-0.445666,-0.183356,-0.211640,0.149898,-0.405401
152511_901_0,-0.105556,-0.188638,-0.003262,0.954441,-0.213398,0.491495,0.483130,-0.08234,-0.422095,1.340653,...,0.700309,0.847467,1.335139,-0.560975,-0.810819,-0.810819,-0.038109,-0.116034,0.149898,-0.082513

In [30]:
joined = morphotopes_age.join(morphometrics,how='left')
joined

,geometry,initially_noise,level_1_label,level_2_label,level_3_label,level_4_label,level_5_label,level_6_label,level_7_label,num_buildings,...,mibElo,mibERI,mibCCo,mibLAL,mibFR,mibSCo,micBAD,midBAD,limLPS,limAre
morphotope_id,,,,,,,,,,,,,,,,,,,,,
21904_1448_1,"MULTIPOLYGON (((4324315.825 3046254.826, 43243...",False,1,2,5,8,13,27,55,46,...,0.328274,0.577102,0.986296,-0.495488,-0.556162,-0.556162,-0.279504,-0.302863,0.149898,-0.412607
21904_1448_0,"MULTIPOLYGON (((4324277.274 3046327.723, 43242...",False,1,2,5,8,13,27,55,43,...,0.413190,0.082534,0.056850,-0.289770,-0.133420,-0.133420,-0.297333,-0.326136,0.149898,-0.402454
29344_127_5,"MULTIPOLYGON (((4325504.81 3048061.995, 432550...",False,1,2,5,8,13,27,55,65,...,0.334524,0.055121,-0.054609,-0.298324,-0.488516,-0.488516,-0.290789,-0.347856,0.149898,-0.247026
29344_127_4,"MULTIPOLYGON (((4325695.146 3048046.646, 43256...",False,2,4,7,13,20,47,86,65,...,-0.415067,-0.492346,-0.435793,-0.120353,-0.109692,-0.109692,-0.304511,-0.328775,0.149898,-0.374307
29344_127_2,"MULTIPOLYGON (((4325571.721 3047890.038, 43255...",False,2,4,7,12,19,45,82,26,...,0.536643,0.639525,1.023649,-0.582218,-0.970502,-0.970502,-0.266122,-0.308485,0.149898,-0.448409
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27053_210_1,"MULTIPOLYGON (((4330639.63 2774092.038, 433063...",False,2,4,7,15,22,50,93,44,...,0.926680,-0.191337,0.004813,-0.245848,-0.375822,-0.375822,-0.219848,-0.278039,0.149898,-0.411868
25202_27_0,"MULTIPOLYGON (((4329009.557 2738156.632, 43290...",False,1,2,5,8,13,27,55,6,...,0.022814,0.448307,0.552433,-0.259511,-0.183660,-0.183660,-0.139684,0.176969,0.149898,-0.239562
18557_597_2,"MULTIPOLYGON (((4329532.524 2733302.757, 43295...",False,1,2,5,8,13,29,59,35,...,0.030304,0.538521,0.654447,-0.442478,-0.488701,-0.488701,-0.154609,-0.210868,0.149898,-0.294240
26468_1167_9,"MULTIPOLYGON (((4329198.789 2728648.948, 43291...",False,2,4,7,15,22,53,99,23,...,0.798872,0.530235,0.883503,-0.451762,-0.442381,-0.442381,-0.125656,-0.190863,0.149898,-0.313847
26468_1167_8,"MULTIPOLYGON (((4328388.687 2728213.01, 432838...",False,1,2,4,6,10,21,43,10,...,0.943411,0.777611,0.956430,-0.497917,-0.391851,-0.391851,-0.114989,-0.152555,0.149898,-0.259256

In [33]:
joined.to_parquet("/data/uscuni-evolution/all_joined_de.parquet")