In [ ]:
!ls '/data/uscuni-evolution/germany_heigths/'

DE1.csv  DE3.csv  DE5.csv  DE7.csv  DE9.csv  DEB.csv  DED.csv  DEF.csv
DE2.csv  DE4.csv  DE6.csv  DE8.csv  DEA.csv  DEC.csv  DEE.csv  DEG.csv

In [1]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import numpy as np
from glob import glob

In [2]:
buildings_age = gpd.read_parquet('/data/uscuni-evolution/germany_ages/buildings_age.parquet')
buildings_age

,geometry,morph,initially_noise,level_1_label,level_2_label,level_3_label,level_4_label,level_5_label,level_6_label,level_7_label,index_right,year,id
1154_128880,"POLYGON ((6.73003 49.18855, 6.73011 49.18861, ...",1154_193_0,False,2,4,7,15,22,53,99,150699,1967,DEC_301181813
1154_128806,"POLYGON ((6.73036 49.18881, 6.73047 49.18888, ...",1154_193_0,False,2,4,7,15,22,53,99,256047,1966,DEC_301181835
1154_128833,"POLYGON ((6.7303 49.18911, 6.73033 49.18913, 6...",1154_193_0,False,2,4,7,15,22,53,99,210042,1949,DEC_301181822
1154_128868,"POLYGON ((6.72962 49.1888, 6.72969 49.18885, 6...",1154_193_0,False,2,4,7,15,22,53,99,60597,1971,DEC_301181966
1154_128835,"POLYGON ((6.7294 49.1887, 6.72952 49.18879, 6....",1154_193_0,False,2,4,7,15,22,53,99,73170,1957,DEC_301181934
...,...,...,...,...,...,...,...,...,...,...,...,...,...
51289_544749,"POLYGON ((13.31611 48.32543, 13.31617 48.32547...",51289_8434_11,False,2,4,7,13,20,47,87,3035810,1958,DE2_DEBY_LOD2_7944607
51289_544745,"POLYGON ((13.31638 48.32562, 13.31648 48.32569...",51289_8434_1,False,2,4,7,15,22,53,97,3007219,1955,DE2_DEBY_LOD2_7944608
51289_545797,"POLYGON ((13.31659 48.32516, 13.31673 48.32521...",51289_8434_11,False,2,4,7,13,20,47,87,1120094,1973,DE2_DEBY_LOD2_7944295
51289_544818,"POLYGON ((13.31627 48.32494, 13.31645 48.325, ...",51289_8434_11,False,2,4,7,13,20,47,87,252234,1972,DE2_DEBY_LOD2_7944296
51289_544780,"POLYGON ((13.31611 48.3248, 13.31619 48.32485,...",51289_8434_11,False,2,4,7,13,20,47,87,2650440,1951,DE2_DEBY_LOD2_7944297

In [ ]:
files= glob(f"/data/uscuni-evolution/germany_heigths/DE*.csv")
files

['/data/uscuni-ulce/germany_heigths/DE5.csv',
 '/data/uscuni-ulce/germany_heigths/DEE.csv',
 '/data/uscuni-ulce/germany_heigths/DE6.csv',
 '/data/uscuni-ulce/germany_heigths/DED.csv',
 '/data/uscuni-ulce/germany_heigths/DE8.csv',
 '/data/uscuni-ulce/germany_heigths/DE4.csv',
 '/data/uscuni-ulce/germany_heigths/DEC.csv',
 '/data/uscuni-ulce/germany_heigths/DEG.csv',
 '/data/uscuni-ulce/germany_heigths/DEB.csv',
 '/data/uscuni-ulce/germany_heigths/DE3.csv',
 '/data/uscuni-ulce/germany_heigths/DEF.csv',
 '/data/uscuni-ulce/germany_heigths/DE9.csv',
 '/data/uscuni-ulce/germany_heigths/DE2.csv',
 '/data/uscuni-ulce/germany_heigths/DE7.csv',
 '/data/uscuni-ulce/germany_heigths/DEA.csv',
 '/data/uscuni-ulce/germany_heigths/DE1.csv']

In [4]:
heights = []
for f in files:
    table = pd.read_csv(f)
    heights.append(table)
heights_df = pd.concat(heights)
heights_df

,id,source,footprint,height_m
0,DE5_1009678792,osm_de_hb,"POLYGON((4248263.497851045 3328297.01936322,42...","{""value"": 8.47, ""source"": ""v7_model.json"", ""li..."
1,DE5_1005641253,osm_de_hb,"POLYGON((4227651.762213814 3381409.4187576724,...","{""value"": 11, ""source"": ""ua"", ""lineage"": ""sj_c..."
2,DE5_1005911326,osm_de_hb,POLYGON((4240267.4637466725 3332875.5723025184...,"{""value"": 3.95, ""source"": ""v7_model.json"", ""li..."
3,DE5_1008165928,osm_de_hb,"POLYGON((4227202.110380695 3384913.1658182866,...","{""value"": 10.64, ""source"": ""v7_model.json"", ""l..."
4,DE5_1009678793,osm_de_hb,"POLYGON((4248252.822620787 3328238.760213428,4...","{""value"": 6.89, ""source"": ""v7_model.json"", ""li..."
...,...,...,...,...
4652134,DE1_99999428,osm_de_bw,"POLYGON((4207209.837862909 2879161.785322576,4...","{""value"": 6, ""source"": ""ua"", ""lineage"": ""sj_ca..."
4652135,DE1_99999429,osm_de_bw,"POLYGON((4207332.68847731 2879120.603081704,42...","{""value"": 6.75, ""source"": ""ua"", ""lineage"": ""sj..."
4652136,DE1_99999430,osm_de_bw,"POLYGON((4207196.047993248 2879030.652102649,4...","{""value"": 4.33, ""source"": ""ua"", ""lineage"": ""sj..."
4652137,DE1_99999431,osm_de_bw,"POLYGON((4207195.4705027845 2879127.814782713,...","{""value"": 7.75, ""source"": ""ua"", ""lineage"": ""sj..."
4652138,DE1_99999432,osm_de_bw,"POLYGON((4207216.44014299 2879062.571509722,42...","{""value"": 3, ""source"": ""ua"", ""lineage"": ""sj_ca..."