In [1]:
import pandas as pd
import geopandas as gpd

In [3]:
buildings = gpd.read_file("/data/uscuni-ulce/extension/netherlands/nl_pand.gpkg", columns=["oorspronkelijkbouwjaar", "b3_h_nok"])
buildings

Index(['b3_bag_bag_overlap', 'b3_bouwlagen', 'b3_dak_type', 'b3_extrusie',
       'b3_h_maaiveld', 'b3_h_nok', 'b3_is_glas_dak', 'b3_kas_warenhuis',
       'b3_kwaliteitsindicator', 'b3_mutatie_ahn3_ahn4',
       'b3_mutatie_ahn4_ahn5', 'b3_n_nok', 'b3_n_vlakken',
       'b3_nodata_fractie_ahn3', 'b3_nodata_fractie_ahn4',
       'b3_nodata_fractie_ahn5', 'b3_nodata_radius_ahn3',
       'b3_nodata_radius_ahn4', 'b3_nodata_radius_ahn5', 'b3_opp_buitenmuur',
       'b3_opp_dak_plat', 'b3_opp_dak_schuin', 'b3_opp_grond',
       'b3_opp_scheidingsmuur', 'b3_puntdichtheid_ahn3',
       'b3_puntdichtheid_ahn4', 'b3_puntdichtheid_ahn5', 'b3_pw_bron',
       'b3_pw_datum', 'b3_pw_onvoldoende', 'b3_pw_selectie_reden',
       'b3_rmse_lod12', 'b3_rmse_lod13', 'b3_rmse_lod22', 'b3_t_run',
       'b3_val3dity_lod12', 'b3_val3dity_lod13', 'b3_val3dity_lod22',
       'b3_volume_lod12', 'b3_volume_lod13', 'b3_volume_lod22',
       'begingeldigheid', 'documentdatum', 'documentnummer', 'eindgeldigheid',
       'eindregistratie', 'geconstateerd', 'identificatie',
       'oorspronkelijkbouwjaar', 'status', 'tijdstipeindregistratielv',
       'tijdstipinactief', 'tijdstipinactieflv', 'tijdstipnietbaglv',
       'tijdstipregistratie', 'tijdstipregistratielv',
       'voorkomenidentificatie', 'geometry'],
      dtype='object')

In [3]:
buildings=buildings.rename(columns = {"oorspronkelijkbouwjaar":"year_of_construction","b3_h_nok":"longest_ridge_line_height"})

In [6]:
buildings["year_of_construction"].isna().sum()

np.int64(0)

In [7]:
buildings

,longest_ridge_line_height,year_of_construction,geometry
0,128.363724,2015.0,"POLYGON Z ((137588 370483 0, 137587.953 370483..."
1,32.571911,1970.0,"POLYGON Z ((137835.188 370694.312 0, 137800.43..."
2,NaN,2021.0,"POLYGON Z ((137972.625 370575.375 0, 137980.39..."
3,30.822750,2021.0,"POLYGON Z ((138000.828 370560.188 0, 137993.96..."
4,NaN,1965.0,"POLYGON Z ((137900.484 370664.062 0, 137898.87..."
...,...,...,...
10771542,NaN,2016.0,"POLYGON Z ((234587.266 583714.625 0, 234584.95..."
10771543,NaN,1990.0,"POLYGON Z ((234527.625 583664.562 0, 234522.64..."
10771544,NaN,1997.0,"POLYGON Z ((234408.281 583859.062 0, 234412.71..."
10771545,NaN,1997.0,"POLYGON Z ((234395.812 583888.562 0, 234392.95..."
10771546,NaN,1997.0,"POLYGON Z ((234357.016 583823.875 0, 234358.32..."

In [9]:
buildings=buildings.to_crs("EPSG:3035")
buildings

,longest_ridge_line_height,year_of_construction,geometry
0,128.363724,2015.0,"POLYGON Z ((3982322.484 3145988.954 0, 3982322..."
1,32.571911,1970.0,"POLYGON Z ((3982582.398 3146184.327 0, 3982546..."
2,NaN,2021.0,"POLYGON Z ((3982712.038 3146056.908 0, 3982719..."
3,30.822750,2021.0,"POLYGON Z ((3982739.221 3146039.965 0, 3982732..."
4,NaN,1965.0,"POLYGON Z ((3982645.642 3146150.005 0, 3982646..."
...,...,...,...
10771542,NaN,2016.0,"POLYGON Z ((4092656.964 3352706.947 0, 4092654..."
10771543,NaN,1990.0,"POLYGON Z ((4092594.243 3352660.78 0, 4092589...."
10771544,NaN,1997.0,"POLYGON Z ((4092487.629 3352862.485 0, 4092492..."
10771545,NaN,1997.0,"POLYGON Z ((4092477.078 3352892.72 0, 4092474...."
10771546,NaN,1997.0,"POLYGON Z ((4092434.218 3352830.63 0, 4092435...."

In [10]:
buildings.to_parquet("/data/uscuni-ulce/extension/netherlands/clean_3035.parquet")